body{
    background-color: white;
}
h1{
    color: blue;
    font-size: 200x;
    font-style: italic;
}
p{
    font-size: large;
    font-style: oblique;
}
.container{
    text-align: center;
    justify-content: center;
}
.container img{
    width: 500px;
    margin-right: 15px;
    margin-top: 10px;
}
.dengue img{
    width: 340px;
}
